.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0px;
}

.top-0 {
  top: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 1.25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-96 {
  height: 24rem;
}

.h-\[40px\] {
  height: 40px;
}

.h-full {
  height: 100%;
}

.w-\[39\] {
  width: 39%;
}

.w-full {
  width: 100%;
}

.max-w-\[1200px\] {
  max-width: 1200px;
}

.max-w-\[350px\] {
  max-width: 350px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[20px\] {
  gap: 20px;
}

.rounded {
  border-radius: 0.25rem;
}

.bg-blue-500 {
  background-color: rgb(59 130 246);
}

.bg-white {
  background-color: rgb(255 255 255);
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.object-cover {
  object-fit: cover;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  color: rgb(255 255 255);
}

@media (min-width: 640px) {
  .sm\:hidden {
    display: none;
  }

  .sm\:w-\[31\] {
    width: 31%;
  }

  .sm\:w-\[840px\] {
    width: 840px;
  }

  .sm\:mt-\[60px\] {
    margin-top: 60px;
  }

  .sm\:max-w-\[840px\] {
    max-width: 840px;
  }

  .sm\:gap-\[50px\] {
    gap: 50px;
  }

  .sm\:pt-\[150px\] {
    padding-top: 150px;
  }
}

